{% partial '@list-cookies-' ~ cookiesSettingsGet('ui_style', 'default') disableSaveButton = disableSaveButton|default(false) customId = customId|default('custom') %}

{% put scripts %}

<script>

    document.getElementById('cookies-manage-save{{ customId|default('custom') }}').addEventListener('click', function() {

        {% partial '@set-cookies' setOnlyManageCookies = true %}

        {% if cookiesSettingsGet('cookies_manage_disable_page_reload', 0) == 0 %}

            location.reload(true);

        {% else %}

            if( document.getElementById('cookiesbar') )
            {
                document.getElementById('cookiesbar').style.display = 'none';
            }

            if( document.getElementById('sg-settings-modal-{{ __SELF__ }}') )
            {
                document.getElementById('sg-settings-modal-{{ __SELF__ }}').style.display = 'none';
            }

        {% endif %}

    });

</script>

{% endput %}
